@model GamCollezioni.Models.Opera

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Opera</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titolo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titolo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datazione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datazione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tecnica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tecnica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dimensioni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dimensioni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Immagine)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.Immagine title=@Model.Titolo" alt="@Model.Immagine" />
            @* Html.DisplayFor(model => model.Immagine)*@
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
